
body{
    font-family: Arial;
}

.ListeNews, ul{
    margin: 5px;
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:darkblue;
}

.ListeNews{
    border: solid 2px black;
}

h1{
    text-align: center;
}

.Sec{
    left: 50px;
}